Repository jscptman/network_top_to_down: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, taplo-linting, rust-clippy

rust-linting:
  name: Rust linting
  description: Run cargo fmt on files included in the commit.
  entry: cargo fmt --
  pass_filenames: true
  language: system

taplo-linting:
  name: Taplo linting
  description: Run taplo fmt on files included in the commit.
  entry: taplo fmt --
  pass_filenames: true
  language: system

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit.
  entry: cargo clippy --workspace --all-targets --all-features --target x86_64-unknown-linux-gnu --
  pass_filenames: false
  language: system

feat: 2.1.rs
  crates/chapter_2/Cargo.toml
  crates/chapter_2/src/bin/2.1.rs
  crates/chapter_2/src/main.rs
Due: rust-linting, taplo-linting, rust-clippy

improve: 2.1.rs
  Cargo.toml
  crates/chapter_2/Cargo.toml
  crates/chapter_2/src/bin/2.1.rs
Due: rust-linting, taplo-linting, rust-clippy

chore: modify devcontainer name
  .devcontainer/devcontainer.json
Due: none

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

refactor: change project rust version -> 2024
  Cargo.toml
Due: taplo-linting

refactor: reinit project
  crates/chapter_2/src/bin/2.1.rs
Due: rust-linting, rust-clippy

feat: 2.1.rs
  Cargo.lock
  Cargo.toml
  crates/chapter_2/Cargo.toml
  crates/chapter_2/src/bin/2.1.rs
Due: rust-linting, taplo-linting, rust-clippy

update: docker image version to 1.89
  .devcontainer/Dockerfile
Due: none

chore: 将crates源改为国内镜像源
  .cargo/config.toml
Due: taplo-linting

modify: 更新router签名并统一返回类型
  crates/chapter_2/src/bin/2.1.rs
Due: rust-linting, rust-clippy

Path conditions:
  rust-linting: any of: \.rs$
  taplo-linting: any of: \.toml$
  rust-clippy: any of: \.rs$
